<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <script src="library/angular.js"></script>
    <script src="ajax.js"></script>
</head>
<body>
    <div ng-app="ajaxRest" ng-controller="ajaxRestCtrl as vm">
        <h1>Pruebo Ajax</h1>

        <p>
            Selecciona:
            <select ng-model="vm.url" ng-change="vm.buscaRegion()">
                <option value="http://restcountries.eu/rest/v1/region/africa">Africa</option>
                <option value="http://restcountries.eu/rest/v1/region/europe">Europa</option>
                <option value="http://restcountries.eu/rest/v1/region/americas">America</option>
            </select>
        </p>

            <ul>
                <li ng-repeat="paiis in vm.paises">
                    Pais {{$index}}: {{paiis.name}}, capital es {{paiis.capital}}
                </li>
            </ul>

    </div>

</body>
</html>