<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON</title>
    <script src="library/angular.js"></script>
    <script src="json.js"></script>
</head>
<body>
    <div ng-app="jsonApp" ng-controller="jsonAppCtrl as vm">

        <input type="button" value="Click" ng-click="vm.buscaCiudad()">

        <ul>
            <li ng-repeat="country in vm.countries">
                Pais Nº-{{index}}: {{country.name}} --> {{country.population}}
            </li>
        </ul>
    </div>
</body>
</html>