<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
    <script src="library/angular.js"></script>
    <script src="postform.js"></script>
</head>
<body ng-app="postApp" ng-controller="postAppCtrl as vm">
    <h1>Post Form</h1>
    <section>
        <form ng-submit="vm.enviar()">
            Nombre: <input type="text" ng-model="vm.fdatos.nombre">
            <br>
            Edad: <input type="text" ng-model="vm.fdatos.edad">
            <br>
            <input type="submit" value="Send">
        </form>
    </section>
</body>
</html>