<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repeat</title>
    <script src="library/angular.js"></script>
    <script src="repeat.js"></script>
    <link rel="stylesheet" href="repeat.css">
</head>
<body>
<div ng-app="repeatApp" ng-controller="repeatAppCtrl as vm">
    <h1>Ajax con JSONP</h1>

    <p>Buscar Cerveza
        <input type="text" ng-model="vm.nombre">
        <input type="button" value="Search" ng-click="vm.buscaCervezas()">
    </p>

    <aside>
        <h2>Filtra:</h2>
            <input type="text" ng-model="vm.filtroCliente">

        <h2>Orden</h2>
        <p>
            <button ng-click="vm.orden = false">Alfabetico</button>
            <button ng-click="vm.orden = true">Contrario</button>
        </p>
        <p>
            <input type="radio" name="campo" value="name" ng-model="vm.campo"> Name
            <input type="radio" name="campo" value="description" ng-model="vm.campo"> Description
        </p>

    </aside>

    <section>
        <ul>
            <li ng-repeat="cerveza in vm.cervezas | filter:vm.filtroCliente | orderBy:vm.campo:orden" ng-class="even:$even,odd:$odd">
                <span>
                    {{$index +1}}.- {{cerveza.name}},</span> {{cerveza.description}}
            </li>
        </ul>
    </section>

</div>

</body>
</html>