<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select 2</title>
    <script src="./library/angular.js"></script>
    <script src="select2.js"></script>
    <link rel="stylesheet" href="select2.css" />
</head>
<body>
    <div ng-app="acumulador" ng-controller="acumuladorAppCtrl as sel">
        <h1 ng-class="sel.tamTitular">Acumulador</h1>
        <select ng-model="sel.tamTitular">
            <option value="titularpeq">Small</option>
            <option value="titulargran">Big</option>
        </select>

        <h2 ng-class="sel.clases">Control de Operation:</h2>

        ¿Cuanto?
        <input type="button" value="+" ng-click="sel.sumar()" />
        <input type="button" value="-" ng-click="sel.restar()" />

        <h2>Totales: </h2>
        <p ng-class="{positivo: sel.total>0, neutro: sel.total == 0, negativo: sel.total<0}">
            En el acumulador llevamos:
            <span>{{sel.total}}</span>
        </p>
    </div>

</body>
</html>