<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selects</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

<div ng-app>
    <input type="text" ng-model="campotexto" />

    <select ng-model="camposelect">
        <option value="uno">1</option>
        <option value="dos">2</option>
    </select>

    {{camposelect}} - {{campotexto}}

    <input type="button" ng-click="campotexto='Desarrollo.com'" value="Pulsa canio"></div>
</body>
</html>