<!-- <!DOCTYPE html> -->
<html lang="en" ng-app>
	<head>
		<meta charset="UTF-8">
		<title>Ej de AngularJS</title>
	</head>
	<body>
    <h1>Hello {{name}}</h1>
    <div class="contenedor">
        <form action="">
            ¿What is your name? <input type="text" ng-model="name"></input>
        </form>
    </div>



<input type="button" value="dales" ng-click="name='OK Makey'" /> <!-- Esta la cosa codia-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	</body>
</html>