<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test4</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script type="text/javascript" src="test4.js"></script>

    <div ng-app="acumuladorApp" ng-controller="acumuladorAppCtrl as vm">

        ¿Cuanto?
        <input type="text" ng-model="vm.cuanto" />

        <input type="button" value="+" ng-click="vm.sumar()" />
        <input type="button" value="-" ng-click="vm.restar()" />

        Tenemos acumulado un total de:
        <span>{{vm.total}}</span>
    </div>
</body>
</html>