<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thoughts</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

<div ng-app ng-init="thoughts = []">
        <p>
            ¿What´s up?
            <input type="text" ng-model="thought" />
            <input type="button" value="SAVE" ng-click="thoughts.push(thought);thought=''" />
        </p>

        <p ng-repeat="thought in thoughts" ng-init="step=$index">
            My thought number {{step}} is {{thought}}

        </p>
    </div>
</body>
</html>